{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section class='text-center container'>
    <h2>Student Search</h2>
    <p>Enter any question to get the answer</p>
    <form action="" method="post">
        {% csrf_token %}
        
        <input  type="text"  name="text">
        <input class="btn btn-danger" type="submit" value="Search" >
    </form><br>
    <div class="content-section p-0 mt-5">
        {% if response %}
        <div class="custom-header">
            
            <h2>{{response}}</h2>
            
        </div>

    </div>
    {% endif %}
</section>
{% endblock content %}